
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    <link rel="icon" href="../../favicon.ico">

    <title>{{pageTitle}}</title>

    <!-- Required assets -->
    {{> assets1}}
</head>

<body>

<!-- Navigation menu (Commented out) -->
{{!-- {{> navigation}} --}}

<!-- Header -->
{{> header}}

<!-- Page main content -->
{{> content}}

<!-- Footer -->
{{> footer}}

<!-- Additional assets -->
{{> assets2}}
</body>
</html>
